#table_1{
	color: #FFF;
	background:#000;
	width:800px;
	border:0px;
	cellpadding:1px;
	cellspacing:3px;
}

#table_2{
	width: 800px;
	border: 0px;
	cellpadding: 1px;
	cellspacing: 3px;
	background: #FFFFFF;

}